.custom-container{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    background-color: white;
  }
  .text-large{
    font-size:xx-large;
  }
  img{
    width:100%;
  }
  body{
    background-color: #6A4FB3;
  }
  form,form input::placeholder,form>button>div {
    font-size: small;
  }
  a{
    color:#9784D4;
    font-weight: bold;
    text-decoration:none;
  }
  .c-blue{
    color:#9b85d5;
  }
  form>.sign-btn{
    background-color: #6A4FB3 !important;
    color:white !important;
  }
.App-logo{
    height: 40px;
    width: 40px;
}
button>div{
    margin-top: auto;
    margin-bottom: auto;
}